name: dailyRelease

on:
  schedule:
    - cron:  '*/1 * * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Create tag
        run: |
          git tag -a v1.4
          git push origin --tags